.navbar {
    height: 1in !important;
    padding: 0 20px;
}

.nav-item-custom {
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem !important;
    color: #ffffff !important;
}

.nav-item-custom:hover {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    margin: 0 10px;
    color: rgb(255, 255, 255);
} 