.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-control:focus {
    border-color: darkturquoise;
    box-shadow: 0 0 0 0.2rem rgba(0, 206, 209, 0.25);
}

.btn-primary {
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.btn-primary:hover {
    background-color: #00b2b2;
    border-color: #00b2b2;
}
